# IDE and various other developer tools
.vscode
.idea
.ipynb_checkpoints
*.swp

# Misc
!.gitkeep
*.orig

# Packaging
build/
dist/

# Python
__pycache__
*.pyc
.mypy_cache
.python-version
.env
.venv
**/.pytest_cache/

#Node
**/node_modules
